.root-container {
  max-width: 800px;
  margin: 20px auto;
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid gray;
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
  padding: 10px;
}

.film-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 340px;
  margin: 0 20px;
}

.image {
  max-height: 520px;
  min-height: 340px;
  width: 340px;
  border: 1px solid gray;
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
}

.mat-form-field {
  width: 320px;
  margin: 10px;
  margin: 0;
}

.mat-spinner {
  margin: auto;
}
