.button {
  background-color: gray;
  color: white;
}

.mat-dialog-title {
  text-align: center;
}

.star-rating-container {
  margin-bottom: 20px;
}

.star-rating {
  cursor: pointer;
}

.button-container {
  float: right;
}
