.register-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  margin: auto;
}

.register-image {
  width: 300px;
}

.mat-raised-button {
  margin: 10px 0;
}

.register-error {
  background-color: red;
  color: white;
  font-size: 22px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
}
