body {
    background: url("https://image.inforesist.org/uploads/2015/02/hq-wallpapers_ru_films_36219_1920x1080.jpg") no-repeat fixed;
}

#ReactGridGallery
{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}